.my-first-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue
}

.my-first-p {
    color: green;
    width: 200px;
    border: 5px solid black;
    height: 300px;
    text-align: center;
    background: black;
    margin: 5px;
}

.my-first-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}